<div class="container mt-3">
  <h3 class="text-center mt-3"> My Favourites </h3>

  <div class="d-flex justify-content-between align-items-center pb-2">

    <div class="form-inline" *ngIf="favourites">

      <div class="row mt-3">
        <div class="col-2" *ngFor="let item of favourites">
          <app-product-item [product]="item"></app-product-item>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination [boundaryLinks]="true"
                [totalItems]="pagination.totalItems"
                [itemsPerPage]="pagination.itemsPerPage"
                [(ngModel)]="pagination.currentPage"
                (pageChanged)="onPageChanged($event)"
                previousText="&lsaquo;"
                nextText="&rsaquo;"
                firstText="&laquo;"
                lastText="&raquo;">
    </pagination>
  </div>
</div>
