<div class="d-flex justify-content-center h-100">
  <h1>Reset Password</h1>
</div>
<hr>
<div class="d-flex justify-content-center h-100">
  <p>
    Your password has been reset. Proceed to&nbsp;
    <a class="" routerLink='/account/login' routerLinkActive='active'>Login</a>
  </p>
</div>


