<div class="row">
  <table class="table">
    <tr>
      <th scope="col">
        <div class="p-2 text-uppercase">Username</div>
      </th>
      <th scope="col">
        <div class="p-2 text-uppercase">Active roles</div>
      </th>
      <th scope="col">
        <div class="p-2 text-uppercase"></div>
      </th>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{user.displayName}}</td>
      <td>{{user.roles}}</td>
      <td><button (click)="openRolesModal(user)" class="btn btn-info">Edit Roles</button></td>
    </tr>
  </table>
</div>
