<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card  border-primary">
      <div class="card-header">
        <h3 class="text-center text-primary mt-2">Reset Password</h3>
      </div>
      <div class="card-body" id="forgotPassCard">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword()">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text" style="height: 38px"><i class="fa fa-envelope"></i></span>
            </div>
            <app-text-input [formControl]="forgotPasswordForm.controls['email']" [label]='"Email"'
                            [type]='"email"' style="width: 360px;">
            </app-text-input>
          </div>
          <div class="form-group text-right">
            <button [disabled]='!forgotPasswordForm.valid' class="btn btn-primary mr-2" type="submit">
              Reset
              Password
            </button>
            <button class="btn btn-secondary" type="button" (click)="cancel()">Back</button>
          </div>
          <div id="errors">
            <div *ngIf="email.touched && email.errors" class="errorMessage" class="text-danger">
              <span *ngIf="email.hasError('required')">Email is required.</span>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          Don't have an account?&nbsp;<a [routerLink]="['/account/register']">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</div>
