<section class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="tab-panel">
          <tabset class="member-tabset">
            <tab heading='User management' *appHasRole='["Admin"]'>
              <div class="container">
                <app-user-management></app-user-management>
              </div>
            </tab>
            <tab heading='Product management' *appHasRole='["Admin", "Moderator"]'>
              <div class="container">
                <app-product-list></app-product-list>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</section>



