<div class="d-flex justify-content-center h-100">
  <h3>Password Reset Sent</h3>
</div>
<div class="d-flex justify-content-center h-100">
  <p>An email was sent to your email address with link to change your password. </p>
</div>


