  <div class="d-flex justify-content-center h-100">
    <h1>Thank you!</h1>
  </div>
    <hr>
    <div class="d-flex justify-content-center h-100">
      <p>
        Your email address has been confirmed. Proceed to&nbsp;
        <a class="" routerLink='/account/login' routerLinkActive='active'>Login</a>
      </p>
    </div>

