<h1>A verification link has been sent to your email account</h1>
<hr>
<p>Please click on the link that has just been sent to your email account to verify your email and continue the registration process. </p>
