<br>
<br>
<br>
<br>
<div class="mt-10">
  <carousel>
    <slide>
      <img src="../../assets/images/snow1.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../../assets/images/snow2.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../../assets/images/snow3.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../../assets/images/snow4.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
  </carousel>
</div>
<section class="featured">
  <div class="d-flex justify-content-center pt-4">
    <h1>Welcome to the Shop!</h1>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="d-flex justify-content-center pt-4">
    <h4>* Disclaimer: This is a fictional store! </h4>
  </div>

</section>
