<div class="d-flex justify-content-center mt-5">
  <div class="col-3">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
      </div>

      <app-text-input formControlName="displayName" [label]="'Display Name'"></app-text-input>
      <app-text-input formControlName="email" [label]="'Email Address'"></app-text-input>
      <app-text-input formControlName="confirmEmail" [label]='"Confirm Email"' [type]='"email"'></app-text-input>
      <app-text-input formControlName="password" [label]="'Password'" [type]="'password'"></app-text-input>
      <app-text-input formControlName="confirmPassword" [label]="'Confirm Password'" [type]="'password'"></app-text-input>

      <ul class="text-danger list-unstyled" *ngIf="errors">
        <li *ngFor="let error of errors">
          {{error}}
        </li>
      </ul>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
   
    <div class="text-center form-group mt-2">
      <button class="btn" (click)="logInWithFacebook('Facebook')"><i class="fab fa-facebook"></i> Facebook Login </button>
    </div>
  </div>
</div>
