<div class="d-flex justify-content-center mt-5">
  <div class="col-3">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
      </div>

      <!--
    <div class="form-label-group">
      <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Email address">
      <label for="inputEmail">Email address</label>
      <span class="text-danger"
            *ngIf="loginForm.get('email').invalid
            && loginForm.get('email').touched
            && loginForm.get('email').errors['required']">
        Email address is required.
      </span>
      <span class="text-danger"
            *ngIf="loginForm.get('email').invalid
            && loginForm.get('email').touched
            && loginForm.get('email').errors['pattern']">
        Email address is not valid.
      </span>
    </div>

    <div class="form-label-group">
      <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password">
      <label for="inputPassword">Password</label>
      <span class="text-danger"
            *ngIf="loginForm.get('password').invalid
            && loginForm.get('password').touched
            && loginForm.get('password').errors['required']">
        Password is required.
      </span>
    </div>
    -->

      <app-text-input formControlName="email" [label]="'Email Address'"></app-text-input>
      <app-text-input formControlName="password" [label]="'Password'" [type]="'password'"></app-text-input>

      <button [disabled]="loginForm.invalid" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

      <div class="text-center form-group mt-2">
        <a class="nav-link" routerLink='/account/forgot-password' routerLinkActive='active'>Forgot Password</a>
      </div>
    </form>

    <div class="text-center form-group mt-2">
      <button class="btn" (click)="logInWithFacebook('Facebook')"><i class="fab fa-facebook"></i> Facebook Login </button>
    </div>

    <!--<div class="fb-login-button" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" data-width=""
         (click)="logInWithFacebook('Facebook')"></div> -->
  </div>
</div>


