<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card border-primary div-border">
      <div class="card-header">
        <h3 class="text-center text-primary mt-2">Reset Password</h3>
      </div>
      <div class="card-body" id="forgotPassCard">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" autocomplete="off">
          <div class="from-group mt-2">
            <app-text-input [formControl]="resetPasswordForm.controls['password']" [label]='"Password"'
                            [type]='"password"' [(ngModel)]="model.password"></app-text-input>
          </div>
          <div class="from-group">
            <app-text-input [formControl]="resetPasswordForm.controls['confirmPassword']"
                            [label]='"Confirm Password"' [type]='"password"'></app-text-input>
          </div>
          <div class="form-group text-right mt-2">
            <button [disabled]='!resetPasswordForm.valid' class="btn btn-primary" type="submit">
              Change
              Password
            </button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
