<div class="container mt-3">
  <div class="row">

    <section class="col-3">
      <ng-container *ngIf="types && brands">

        <h5 class="text-warning ml-3 mt-4 mb-3">Sort</h5>
        <select class="custom-select mb-4" (change)="onSortSelected($event.target.value)">
          <!-- trigger a change event: the event has a target and we want that partiular value of the target -->
          <option *ngFor="let sortOption of sortOptions"
                  [selected]="shopParams.sortSelected === sortOption.value"
                  [value]="sortOption.value">
                  {{sortOption.name}}
          </option>
        </select>

        <h5 class="text-warning ml-3 my-3">Brands</h5>
        <ul class="list-group" my-3>
          <li class="list-group-item"
              *ngFor="let brand of brands"
              [class.active]="brand.id === this.shopParams.brandIdSelected"
              [value]="brand.id"
              (click)="onBrandSelected(brand.id)">
            <!--  [class.active]="brand.id === this.brandIdSelected" => if the condition is true, the active class is applied to the selected element -->
            <!-- [value]="brand.id" =>  Pass value to the server -->
            {{brand.name}}
          </li>
        </ul>

        <h5 class="text-warning ml-3 mt-3">Types</h5>
        <ul class="list-group my-3">
          <li class="list-group-item"
              *ngFor="let type of types"
              [class.active]="type.id === this.shopParams.typeIdSelected"
              [value]="type.id"
              (click)="onTypeSelected(type.id)">
            {{type.name}}
          </li>
        </ul>
      </ng-container>

    </section>

    <section class="col-9">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center pb-2">
          <!-- Passing the input properties-->
              <app-paging-header [totalCount]="totalCount"
                                 [pageSize]="this.shopParams.pageSize"
                                 [pageNumber]="this.shopParams.pageNumber"
              ></app-paging-header>

              <div class="form-inline" *ngIf="products">
                <input (keyup.enter)="onSearch() "class="form-control mr-2" style="width: 300px" #search placeholder="Search" type="text">
                <!-- # => template reference variable -->
                <button (click)="onSearch()" class="btn btn-outline-primary mr-1 my-2">Search</button>
                <button (click)="onReset() " class="btn btn-outline-success ml-1 my-2">Reset</button>
              </div>
        </div>

        <div class="row">
          <div class="col-4 mb-4" *ngFor="let item of products">
            <app-product-item [product]="item"></app-product-item>  <!--[product] is from child component product-item: @Input() product: IProduct-->
          </div>
        </div>

        <div class="d-flex justify-content-center" *ngIf="this.totalCount > 0">
            <app-pager
                       [pageSize]="shopParams.pageSize"
                       [totalCount]="totalCount"
                       [pageNumber]="shopParams.pageNumber"
                       (pageChanged)="onPageChanged($event)"
                       >
              <!-- We're passing properties and onPageChanged() to the app-pager. OnPageChanged() from parent will become pageChanged() from pager component.-->
            </app-pager>
        </div>

      </div>
    </section>

  </div>
</div>

