.cart-no {
    position: absolute;
    min-height: 23px;
    min-width: 23px;
    border-radius: 50%;
    font-size: 1em;
    background: blue;
    color: white;
    text-align: center;
    top: -12px;
    right: 32px;
}

a {
  text-decoration: none;
  color: #343a40;

  &.active {
    color: orange;
  }
}

.logo {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
